

.App {
  background-color: white;
  
}

.logo {
  height: 200px;
  padding: 10px;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 8px #ffab40);
}

.box {
  font-size: 24px;
  width: 352px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 10px;
  /* center the content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-word {
  background-color: white;
}
.hide-word {
  background-color: black;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 10px 20px 10px;
}


.button {
  width: 120px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #ffab40;
  color: white;
  font-weight: bold;

  /* center the content */
  display: flex;
  align-items: center;
  justify-content: center;
}



.bar {
  height: 20px;
}

.isNo {
  background-color: red;
}

.isUnknown {
  background-color: #ffab40;
}

.isYes {
  background-color: green;
}

.result {
  font-size: 24px;
}

/*
.select-label-language, 
.flip-word, 
.how-to-use, 
.report-results,
.count-up {
}
*/

.status-bar {
  margin-bottom: 10px;
}

.count-up {
  margin-top: -10px;
}

.about-box {
  margin-top: 5px;
}

.language-button {
  height: 24px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: gray;

}

.edit-wordlist {
  min-width: 350px;
}

.edit-definition {
  margin-bottom: 30px;
}

.edit-row, .edit-word, .edit-meaning   {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
}

input[type="text"] {
  font-size: 14px;
  width: 90%;
  padding: 5px;
  margin: 2px;
  border: none;
  border-bottom: 1px solid gray;
}