

.App {
  background-color: white;
}

.flip-app {
  max-width: 375px;
}

.logo {
  height: 200px;
  padding: 10px;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 8px #ffab40);
}

.box {
  font-size: 24px;
  width: 352px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 10px;
  /* center the content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-word {
  background-color: white;
}
.hide-word {
  background-color: black;
}

.peek-word {
  background-color: #444;
}


.button-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}


.button {
  width: 120px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #ffab40;
  color: white;
  font-weight: bold;

  /* center the content */
  display: flex;
  align-items: center;
  justify-content: center;
}



.bar {
  height: 20px;
}

.isNo {
  background-color: red;
}

.isUnknown {
  background-color: #ffab40;
}

.isYes {
  background-color: green;
}

.result {
  font-size: 24px;
}

/*
.small-button-row, 
.flip-word, 
.how-to-use, 
.report-results,
.count-up {
}
*/

.status-bar {
  margin-bottom: 10px;
}

.count-up {
  margin-top: -10px;
}

.about-box {
  margin-top: 5px;
  padding: 10px;
  background-color: lightgray;
  color: black;
  font-size:16px;
}

.small-button {
  height: 24px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  color: gray;
}

.focus-button {
  background-color: #ffab40;
  color: white;
}

.edit-wordlist {
  min-width: 350px;
}

.edit-definition {
  margin-bottom: 20px;

}

.edit-row, .edit-word, .edit-meaning   {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 2px;
  padding-left: 20px;
}

input[type="text"] {
  text-align: center;
  font-size: 14px;
  width: 90%;
  padding: 5px;
  margin: 0px;
  border-radius: 4px;

}

.edit-word-input {
  border: 1px solid gray;
}

.edit-meaning-input {
  border: 1px solid black;

  background-color: black;
  color: white;
}

.hidden-file-input {
  display: none;
}

.download-links a {
  color: #ffab40;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ffab40;
  padding: 2px 10px;
  display: inline-block;
}

.progress-list {
  margin: 10px;
}

.progress-item {
  display: flex;
  padding-bottom: 1px;
}
.progress-item-unknown-column {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.progress-item-known-column {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.progress-item-bar {
  height: 5px;
}

.text-area-wrapper {
  
}

.text-area {
  width: 80%;
  height: 300px;
  border: 1px solid gray;
  background-color: #efefef;
  padding: 10px;
  font-size: 14px;
}